{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "globals": {
        "global": false
    },
    "rules": {
        "esnext": true,
        "strict": false,
        "quotes": false,
        "curly": false,
        "no-var": true,
        "no-alert": false,
        "no-use-before-define": false,
        "no-underscore-dangle": false,
        "no-multi-spaces": false,
        "no-loop-func": false,
        "no-console": false,
        "no-shadow": false,
        "comma-spacing": false,
        "eol-last": false,
    }
}